<head>
    <title>
        Vue Big Picture - TodoMVC
    </title>

    <!-- Bootstrap styles are used throughout this application. They are all included in this one CSS Link. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- The app uses a very limited number of styles, found in its local CSS file here. -->
    <link rel="stylesheet" href="style.css">
</head>
<body class="container col-lg-4">
    <h1 class="mt-5">
        Vue TodoMVC
    </h1>

    <!-- Cette div, avec l'ID "app", est l'endroit où l'application apparaît lorsqu'elle s'exécute. -->
    <div id="app"></div>

    <!-- Cette balise inhabituelle est un texte/modèle de script. Il n'apparaît pas réellement sur la page en HTML. Cependant, Vue peut référencer ce HTML par ID et l'utiliser essentiellement comme chaîne de modèle. -->
    <script type="text/x-template" id="app-template">
        <section>

            <!-- Ici, l'attribut v:on est utilisé, qui est utilisé pour répondre à n'importe quel événement. Dans ce cas, lorsque l'événement "click" se produit, il modifie la valeur de showComplete. Il est attaché ici à l'étiquette. -->
            <h4>
                <label v-on:click="showComplete = !showComplete">

                    <!-- L'attribut v-model fait que la vérification de cette case reflète toujours l'état de l'application  -->
                    <input type="checkbox" v-model="showComplete">
                    Show Completed
                </label>
            </h4>

            <!-- Ce groupe de liste contient un répéteur Vue.-->
            <ul class="list-group">

                <!-- L'attribut v-for que nous voyons ici répète quelle que soit la balise sur laquelle il se trouve (dans ce cas, un LI) une fois pour chaque élément de la liste référencée, qui dans ce cas est notre liste. A chaque répétition, la propriété a une valeur différente. -->
                <li v-for="todo in filteredTodos" class="list-group-item" v-on:click="todo.complete = !todo.complete;">
                    <label class="form-check-label ml-4">
                        <input
                                type="checkbox"
                                v-model="todo.complete"
                                class="form-check-input">

                        <!-- v-bind est utilisé pour modifier la valeur des attributs HTML, dans ce cas l'attribut class.-->
                        <span
                                v-bind:class="{completed:todo.complete}">

                                <!-- Nous voyons ici un exemple de la syntaxe {{ }} de Vue, qui est assez familière à tous les utilisateurs d'Angular ou de Handlebars.-->
                                {{ todo.name }}
                            </span>
                    </label>
                </li>
            </ul>

            <!-- Ici, un formulaire est utilisé pour contenir le bouton d'envoi (qui permet de capturer la saisie au clavier.) Notez que la directive v-on est utilisée. La méthode .prevent fonctionne de la même manière que submit, mais empêche également le comportement par défaut. -->
            <form v-on:submit.prevent="addTodo" class="mt-3">
                <input
                        type="text"
                        v-model="text"
                        class="form-control"
                        placeholder="Add new!">

                <!-- Notez la propriété :désactivé. Il commence par deux points (:), indiquant que Vue doit interpréter la valeur comme une expression, et non comme une chaîne.-->
                <button
                        :disabled="submitIsDisabled"
                        class="btn btn-primary mt-2">
                    Add Todo
                </button>
            </form>
        </section>
    </script>

    <!-- Vue peut être inclus en tant que balise de script à la fin du code HTML de l'application. Il n'y a pas du tout besoin d'une étape de construction, si vous n'en voulez pas. -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <!-- Enfin, le fichier JavaScript contenant notre logique applicative. -->
    <script src="app.js"></script>
</body>